* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  background-color: blue;
  color: white;
  padding: 0.5rem;
}

.link {
  text-decoration: none;
}

@media (max-width: 600px) {
  .link {
    display: none;
  }
}
